#Header {
  position: relative;
  z-index: 101;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 87px 12.07px 29px;
  height: 91px;
  background-color: #020203;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#Header .App-logo {
  width: 178px;
  height: 60.93px;
}

#Header nav {
  width: 994px;
  height: 24px;
}

#Header nav ul {
  display: flex;
  justify-content: space-between;
}

#Header nav ul li {
  font-size: 24px;
}

#Header nav ul li a {
  color: #fff;
}