.Sidebar {
  position: absolute;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: get-vw($desktop-context, 117px);
  height: get-vw($desktop-context, 1024px);
  background-color: #020203;

  & nav {
    padding-top: get-vw($desktop-context, 347px);
  
    & ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: get-vw($desktop-context, 20px);
    
      & li {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: get-vw($desktop-context, 6px);
        width: get-vw($desktop-context, 64px);
        height: get-vw($desktop-context, 64px);
        background-color: #fff;
      }
    }
  }

  & p {
    margin-top: get-vw($desktop-context, 224px);
    width: get-vw($desktop-context, 138px);
    color: #fff;
    font-size: get-vw($desktop-context, 12px);
    transform: rotate(-90deg);
  }
}

