.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: get-vw($desktop-context, 117px);
  height: 100%;
  background-color: #020203;

  & nav {
    padding-top: get-vw($desktop-context, 256px);
  
    & ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: get-vw($desktop-context, 20px);
    
      & li {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: get-vw($desktop-context, 6px);
        width: get-vw($desktop-context, 64px);
        height: get-vw($desktop-context, 64px);
        background-color: #fff;
        transition: .5s ease-in-out;

        &:hover {
          background-color: #ff0101;

          & i {
            background-color: #fff;
          }
        }
      }
    }
  }

  & p {
    margin-top: get-vw($desktop-context, 224px);
    width: get-vw($desktop-context, 138px);
    color: #fff;
    font-size: get-vw($desktop-context, 12px);
    transform: rotate(-90deg);
  }
}

@media screen and (max-width: 1024px) {
  .Sidebar {
    & nav {
      padding-top: get-vw($tablet-context, 208px);
    }
  }
}