.ActivityChart {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  padding: get-vw($desktop-context, 24px) get-vw($desktop-context, 26px) get-vw($desktop-context, 23px) get-vw($desktop-context, 32px);
  width: get-vw($desktop-context, 834px);
  height: get-vw($desktop-context, 320px);

  & .xAxis {
    font-size: get-vw($desktop-context, 14px);
  }

  & .yAxis {
    font-size: get-vw($desktop-context, 14px);
  }

  & .legend {
    display: flex;
    justify-content: space-between;
    margin-bottom: get-vw($desktop-context, 64.5px);

    & h3 {
      color: #20253a;
      font-size: get-vw($desktop-context, 15px);
      font-weight: 500;
    }
  
    & .legend-list {
      display: flex;
      justify-content: flex-end;
      column-gap: get-vw($desktop-context, 32px);
  
      & .legend-item {
        display: flex;
        align-items: center;
        color: #74798c;
        font-size: get-vw($desktop-context, 14px);
  
        &::before {
          display: inline-block;
          border-radius: 50%;
          width: get-vw($desktop-context, 8px);
          height: get-vw($desktop-context, 8px);
          content: '';
        }
  
        &:first-child::before {
          margin-right: get-vw($desktop-context, 10px);
          background-color: #282d30;
        }
  
        &:last-child::before {
          margin-right: get-vw($desktop-context, 12px);
          background-color: #e60000;
        }
      }
    }
  }

  & .tooltip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: get-vw($desktop-context, 39px);
    height: get-vw($desktop-context, 63px);
    background-color: #e60000;
    color: #fff;
    font-size: get-vw($desktop-context, 7px);
  }

  & .bar {
    &.kilogram {
      fill: #282d30;
    }

    &.calories {
      fill: #e60000;
    }
  }
}