.ActivityChart {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  // display: grid;
  // grid-template-rows: 58px auto;
  padding: get-vw($desktop-context, 24px) get-vw($desktop-context, 26px) get-vw($desktop-context, 23px) get-vw($desktop-context, 32px);
  width: get-vw($desktop-context, 834px);
  height: get-vw($desktop-context, 320px);
}

// .ActivityChart .ActivityChartTitle {
//   color: #20253a;
//   font-size: 15px;
// }

// .ActivityChart .ActivityLegend {
//   grid-row: 1 / 2;
//   display: flex;
//   justify-content: flex-end;
//   align-items: flex-start;
//   gap: 32px;
// }

// .ActivityChart .LegendItem {
//   display: flex;
//   align-items: center;
//   color: #74798c;
//   font-size: 14px;
// }

// .ActivityChart .LegendItem::before {
//   display: inline-block;
//   border-radius: 50%;
//   width: 8px;
//   height: 8px;
//   content: '';
// }

// .ActivityChart .LegendItem:first-child::before {
//   margin-right: 10px;
//   background-color: #282d30;
// }

// .ActivityChart .LegendItem:last-child::before {
//   margin-right: 12px;
//   background-color: #e60000;
// }