.NutrientCard {
  grid-column: 4 / 5;
  display: flex;
  gap: get-vw($desktop-context, 24px);
  margin-left: get-vw($desktop-context, 2px);
  padding: get-vw($desktop-context, 32px);

  &.energy  .icon-nutrient::before {
    background-color: #ff0000;
  }
  
  &.chicken .icon-nutrient::before {
    background-color: #4ab8ff;
  }
  
  &.apple .icon-nutrient::before {
    background-color: #f9ce23;
  }
  
  &.cheeseburger .icon-nutrient::before {
    background-color: #fd5181;
  }

  & .icon-nutrient {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: get-vw($desktop-context, 6px);
    width: get-vw($desktop-context, 60px);
    height: get-vw($desktop-context, 60px);
  
    &::before {
      position: absolute;
      display: inline-block;
      border-radius: get-vw($desktop-context, 6px);
      width: get-vw($desktop-context, 60px);
      height: get-vw($desktop-context, 60px);
      content: '';
      mix-blend-mode: normal;
      opacity: 0.07;
    }
  }
  
  & .info-nutrient {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    & .data-nutrient {
      color: #282d30;
      font-size: get-vw($desktop-context, 20px);
      font-weight: 700;
    }
    
    & .type-nutrient {
      margin-top: get-vw($desktop-context, 2px);
      color: #74798c;
      font-size: get-vw($desktop-context, 14px);
    }
  }
}

